* {
  font-family: 'Headland One', serif;
}

.containerHome {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr)); 
  grid-template-rows: auto minmax(60px, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 30px;
  grid-template-areas: "welcome welcome welcome welcome" 
                       "image1  image2  image3  image4";
}

.welcome {
  grid-area: 1/1/2/5;
  margin: 10px 20px 60px;
}

.welcome h1 {
  font-size: 5vh;
}

.highlight {
  background-color: #FFC107;
}

.welcome p {
  margin-top: 40px;
  font-size: 3vh;  
}

.trackIcon {
  max-width: 100%;
  height: auto;
  margin-left: 10px;
}

.caption {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -90%);
  font-size: 4vh;
  text-align: center;
  opacity: 0;
}

#imgWrapper1 {
  position: relative;
  grid-area: image1;
}

#imgWrapper1 .caption,
#imgWrapper1 .trackIcon {
  transition: opacity 0.5s ease-in-out;
}

#imgWrapper1:hover .trackIcon {
  opacity: 0;
}

#imgWrapper1:hover .caption {
  opacity: 1
}

#imgWrapper2 {
  position: relative;
  grid-area: image2;
}

#imgWrapper2 .caption,
#imgWrapper2 .trackIcon {
  transition: opacity 0.5s ease-in-out;
}

#imgWrapper2:hover .trackIcon {
  opacity: 0;
}

#imgWrapper2:hover .caption {
  opacity: 1
}

#imgWrapper3 {
  position: relative;
  grid-area: image3;
}

#imgWrapper3 .caption,
#imgWrapper3 .trackIcon {
  transition: opacity 0.5s ease-in-out;
}

#imgWrapper3:hover .trackIcon {
  opacity: 0;
}

#imgWrapper3:hover .caption {
  opacity: 1
}

#imgWrapper4 {
  position: relative;
  grid-area: image4;
  margin-right: 30px;
}

#imgWrapper4 .caption,
#imgWrapper4 .trackIcon {
  transition: opacity 0.5s ease-in-out;
}

#imgWrapper4:hover .trackIcon {
  opacity: 0;
}

#imgWrapper4:hover .caption {
  opacity: 1
}

.pointer {
  cursor: pointer;
}

.containerTrack {
  display: grid;
  grid-template-columns: minmax(100px, 30%) 2fr;
  grid-template-rows: minmax(auto, 30px) 1fr;
  grid-template-areas: "sidebar home"
                       "sidebar content";
  
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background-color: #544BF5;
  color: white;
  margin: -8px;
  padding: 20px; 

}

#home {
  grid-area: home;
  justify-self: end;
  height: 1em;
  padding-top: 15px;
  padding-right: 15px;
}

.classes {
  grid-area: content;
  padding-top: 10%;
}

.st0 {
  fill:#544BF5;
  stroke:#544BF5;
  stroke-width:2;
  stroke-miterlimit:10;
}

.st1 {
  fill:none;
}

.st2 {
  fill:#FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

.st5 {
  fill: #544BF5;
}

.st6 {
  fill:none;
  stroke:#808080;
  stroke-miterlimit:10;
}

.st7 {
  fill:#808080;
}

.homeLink {
  color: black;
}

.homeIcon {
  float:right;
}